* {
    margin: 0;
}

body {
    background-image: url('../assets/background/AcademicIdealBlacknorwegianelkhound-size_restricted.gif');
    background-size: cover;
    height: 100vh;
    padding: 0;
    font-family: 'Bruno Ace SC', cursive;
}

#startGame {
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 30vh;
    left: 10vw;
    width: 80vw;
    height: 40vh;
    opacity: 0.8;
    font-size: 5vmin;
}

#displayText {
    position: absolute;
    display: flex;
    margin-top: 2vh;
    justify-content: center;
    flex-direction: row;
    color: blue;
    width: 100vw;
    visibility: hidden;
}

.innerContent {
    width: 50%;
}

#endGame {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 40vw;
    height: 30vh;
    top: 35vh;
    left: 30vw;
    background-color: white;
    opacity: 0.7;
    visibility: hidden;
}

#butt {
    background-color: red;
    font-weight: bold;
    color: blue;
    border-radius: 10%;
    transition: background-color 0.25s;
    height: 15%;
    width: 30%;
    font-family: 'Bruno Ace SC', cursive;
}

#butt:hover {
    background-color: blue;
    color: red;
}

h3,
h2,
h4,
h5 {
    margin-bottom: 2vh;
}